﻿@model List<MVC_AziendaEdile.Models.Dipendente>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2> <!--Dipendenti-->

<table class="border border-2 border-dark text-center">
    <caption>Elenco Dipendenti</caption>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Codice Fiscale</th>
            <th>Coniugato</th>
            <th>Numero di Figli</th>
            <th>Mansione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MVC_AziendaEdile.Models.Dipendente d in Model)
        {
            <tr>
                <td>@d.Nome</td>
                <td>@d.Cognome</td>
                <td>@d.Indirizzo</td>
                <td>@d.CodiceFiscale</td>
                <td>@d.Coniugato</td>
                <td>@d.NumeroFigli</td>
                <td>@d.Mansione</td>
            </tr>
        }
    </tbody>
</table>

<a class="text-decoration-none fw-bold m-1" href="~/Home/Index">Torna alla Home</a>

